<a href="https://colab.research.google.com/github/nitiksha/PySpark_code_practice/blob/main/collect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("collect").getOrCreate()

In [4]:
df = spark.createDataFrame([(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])

# Collect all rows into a Python list
rows = df.collect()
df.collect()
display(rows)
print(rows)
# Output:
# [Row(age=14, name='Tom'), Row(age=23, name='Alice'), Row(age=16, name='Bob')]

# Access individual rows or fields
for row in rows:
    print(f"Name: {row['name']}, Age: {row['age']}")

[Row(age=14, name='Tom'), Row(age=23, name='Alice'), Row(age=16, name='Bob')]

[Row(age=14, name='Tom'), Row(age=23, name='Alice'), Row(age=16, name='Bob')]
Name: Tom, Age: 14
Name: Alice, Age: 23
Name: Bob, Age: 16