<a href="https://colab.research.google.com/github/nitiksha/PySpark_code_practice/blob/main/left_anti_left_semi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('DataFrames').getOrCreate()

employee_data = [
    (1, "sravan", "company 1"),
    (2, "ojaswi", "company 1"),
    (3, "rohith", "company 2"),
    (4, "sridevi", "company 1"),
    (5, "bobby", "company 1")
]
employee_columns = ["ID", "Name", "Company"]

employee_df = spark.createDataFrame(employee_data, employee_columns)
employee_df.show()

+---+-------+---------+
| ID|   Name|  Company|
+---+-------+---------+
|  1| sravan|company 1|
|  2| ojaswi|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  5|  bobby|company 1|
+---+-------+---------+

In [2]:
salary_data = [
    (1, 45000, "IT"),
    (2, 145000, "Manager"),
    (6, 45000, "HR"),
    (5, 34000, "Sales")
]
salary_columns = ["ID", "Salary", "Department"]

salary_df = spark.createDataFrame(salary_data, salary_columns)
salary_df.show()

+---+------+----------+
| ID|Salary|Department|
+---+------+----------+
|  1| 45000|        IT|
|  2|145000|   Manager|
|  6| 45000|        HR|
|  5| 34000|     Sales|
+---+------+----------+

In [3]:
bonus_data = [
    (1, 5000),
    (2, 7000),
    (3, 0),
    (5, 12000)
]
bonus_columns = ["worker_ref_id", "bonus_amount"]

bonus_df = spark.createDataFrame(bonus_data, bonus_columns)
bonus_df.show()

+-------------+------------+
|worker_ref_id|bonus_amount|
+-------------+------------+
|            1|        5000|
|            2|        7000|
|            3|           0|
|            5|       12000|
+-------------+------------+

Question 1: Dirty Join Detection**
  - Find all employees who do not have a matching record in the salary table and return their names and company. Which join would solve this most efficiently?[4][5]

In [4]:
join_df = employee_df.join(salary_df,employee_df["ID"]==salary_df["ID"],"left_anti")
join_df.show()

+---+-------+---------+
| ID|   Name|  Company|
+---+-------+---------+
|  3| rohith|company 2|
|  4|sridevi|company 1|
+---+-------+---------+

Join on Multiple Columns
Question: Join employee and salary tables on both ID and Company columns.

In [5]:
multi_join_df = employee_df.join(salary_df,employee_df["ID"]==salary_df["ID"],"left_anti")
multi_join_df.show()

+---+-------+---------+
| ID|   Name|  Company|
+---+-------+---------+
|  3| rohith|company 2|
|  4|sridevi|company 1|
+---+-------+---------+

Question (a): Find employees who do have a salary record.

In [6]:
hv_sal_df = employee_df.join(salary_df,employee_df["ID"]==salary_df["ID"],"left_semi")
hv_sal_df.show()

+---+------+---------+
| ID|  Name|  Company|
+---+------+---------+
|  1|sravan|company 1|
|  2|ojaswi|company 1|
|  5| bobby|company 1|
+---+------+---------+

Question (a):no salary record

In [7]:
no_sal_df = employee_df.join(salary_df,employee_df["ID"]==salary_df["ID"],"left_anti")
no_sal_df.show()

+---+-------+---------+
| ID|   Name|  Company|
+---+-------+---------+
|  3| rohith|company 2|
|  4|sridevi|company 1|
+---+-------+---------+

In [8]:
unioned_df = employee_df.union(salary_df).distinct()  # Removes duplicates
unioned_df.show()
union_all_df = employee_df.union(salary_df)
union_all_df.show()

+---+-------+---------+
| ID|   Name|  Company|
+---+-------+---------+
|  2| ojaswi|company 1|
|  1| sravan|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  5|  bobby|company 1|
|  1|  45000|       IT|
|  2| 145000|  Manager|
|  6|  45000|       HR|
|  5|  34000|    Sales|
+---+-------+---------+

+---+-------+---------+
| ID|   Name|  Company|
+---+-------+---------+
|  1| sravan|company 1|
|  2| ojaswi|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  5|  bobby|company 1|
|  1|  45000|       IT|
|  2| 145000|  Manager|
|  6|  45000|       HR|
|  5|  34000|    Sales|
+---+-------+---------+