<a href="https://colab.research.google.com/github/nitiksha/PySpark_code_practice/blob/main/mapType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType,MapType,IntegerType,StructField,StructType

In [2]:
# Initialize SparkSession
spark = SparkSession.builder.appName("MapTypePractice").getOrCreate()

In [3]:
# Sample data with MapType column
data = [
    (1, {"math": 85, "english": 78}),
    (2, {"math": 90, "science": 88}),
    (3, {"english": 82, "history": 91}),
]

In [5]:
schema= StructType([StructField("id",IntegerType(),True),StructField("info",MapType(StringType(),StringType(),True))])

In [6]:
# Create DataFrame
df = spark.createDataFrame(data, schema)

In [8]:
df.show(truncate=False)

+---+------------------------------+
|id |info                          |
+---+------------------------------+
|1  |{english -> 78, math -> 85}   |
|2  |{science -> 88, math -> 90}   |
|3  |{english -> 82, history -> 91}|
+---+------------------------------+