<a href="https://colab.research.google.com/github/nitiksha/PySpark_code_practice/blob/main/pivot_agg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, avg

# Create Spark Session
spark = SparkSession.builder.appName("PivotAggPractice").getOrCreate()

# Sample sales data: employee, department, and salary
data = [
    ("Alice", "HR", 50000),
    ("Bob", "IT", 60000),
    ("Cathy", "HR", 55000),
    ("Alice", "IT", 70000),
    ("Bob", "HR", 52000),
    ("Cathy", "IT", 65000)
]
columns = ["employee", "department", "salary"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

print("Original DataFrame:")
df.show()

# Pivot with single aggregation: total salary per employee per department
pivot_sum_df = df.groupBy("employee").pivot("department").sum("salary")
print("Pivot with sum aggregation:")
pivot_sum_df.show()

# Pivot with multiple aggregations: sum and average salary
pivot_multi_agg_df = df.groupBy("employee").pivot("department").agg(
    sum("salary").alias("total_salary"),
    avg("salary").alias("avg_salary")
)
print("Pivot with sum and avg aggregations:")
pivot_multi_agg_df.show()

spark.stop()

Original DataFrame:
+--------+----------+------+
|employee|department|salary|
+--------+----------+------+
|   Alice|        HR| 50000|
|     Bob|        IT| 60000|
|   Cathy|        HR| 55000|
|   Alice|        IT| 70000|
|     Bob|        HR| 52000|
|   Cathy|        IT| 65000|
+--------+----------+------+

Pivot with sum aggregation:
+--------+-----+-----+
|employee|   HR|   IT|
+--------+-----+-----+
|     Bob|52000|60000|
|   Alice|50000|70000|
|   Cathy|55000|65000|
+--------+-----+-----+

Pivot with sum and avg aggregations:
+--------+---------------+-------------+---------------+-------------+
|employee|HR_total_salary|HR_avg_salary|IT_total_salary|IT_avg_salary|
+--------+---------------+-------------+---------------+-------------+
|     Bob|          52000|      52000.0|          60000|      60000.0|
|   Alice|          50000|      50000.0|          70000|      70000.0|
|   Cathy|          55000|      55000.0|          65000|      65000.0|
+--------+---------------+-------------+---------------+-------------+