<a href="https://colab.research.google.com/github/nitiksha/PySpark_code_practice/blob/main/pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("PivotExample").getOrCreate()

# Sample data: sales data with store, category, and amount
data = [
    ("Store1", "Electronics", 100),
    ("Store1", "Clothing", 150),
    ("Store2", "Electronics", 200),
    ("Store2", "Clothing", 100),
    ("Store2", "Groceries", 250),
    ("Store3", "Groceries", 300)
]
columns = ["store", "category", "amount"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

print("Original DataFrame:")
df.show()

Original DataFrame:
+------+-----------+------+
| store|   category|amount|
+------+-----------+------+
|Store1|Electronics|   100|
|Store1|   Clothing|   150|
|Store2|Electronics|   200|
|Store2|   Clothing|   100|
|Store2|  Groceries|   250|
|Store3|  Groceries|   300|
+------+-----------+------+

In [7]:
pivot_df = df.groupBy("category").pivot("store").sum("amount")
pivot_df.show()

#2 ways of writing aggregate function in pivot

pivot_df_agg = df.groupBy("category").pivot("store").agg({"amount":"sum"})
pivot_df_agg.show()

+-----------+------+------+------+
|   category|Store1|Store2|Store3|
+-----------+------+------+------+
|  Groceries|  NULL|   250|   300|
|Electronics|   100|   200|  NULL|
|   Clothing|   150|   100|  NULL|
+-----------+------+------+------+

+-----------+------+------+------+
|   category|Store1|Store2|Store3|
+-----------+------+------+------+
|  Groceries|  NULL|   250|   300|
|Electronics|   100|   200|  NULL|
|   Clothing|   150|   100|  NULL|
+-----------+------+------+------+

.agg() with dict	Multiple columns, multiple aggregations