<a href="https://colab.research.google.com/github/nitiksha/PySpark_code_practice/blob/main/transform_pyspark3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.getOrCreate()
df = spark.createDataFrame([(1,), (2,), (3,)], ["value"])

def add_double_column(df):
    return df.withColumn("double_value", col("value") * 2)

df_new = df.transform(add_double_column)
df_new.show()

+-----+------------+
|value|double_value|
+-----+------------+
|    1|           2|
|    2|           4|
|    3|           6|
+-----+------------+

In [3]:
df_applied = df_new.rdd.map(lambda row: (row.value * 200, row.double_value)).toDF(["id", "name"])
df_applied.show()

+---+----+
| id|name|
+---+----+
|200|   2|
|400|   4|
|600|   6|
+---+----+