<a href="https://colab.research.google.com/github/nitiksha/PySpark_code_practice/blob/main/union_unionall_pyspark2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("UnionExample").getOrCreate()

# DataFrame 1
data1 = [
    (1, "Alice", 30),
    (2, "Bob", 25),
    (3, "Cathy", 28)
]
columns = ["id", "name", "age"]
df1 = spark.createDataFrame(data1, columns)

# DataFrame 2
data2 = [
    (4, "David", 35),
    (5, "Eva", 22),
    (2, "Bob", 25)
]
df2 = spark.createDataFrame(data2, columns)

# Show both DataFrames
print("DataFrame 1:")
df1.show()

df1.union(df2).distinct().show()
df1.unionAll(df2).show()

DataFrame 1:
+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 30|
|  2|  Bob| 25|
|  3|Cathy| 28|
+---+-----+---+

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 30|
|  2|  Bob| 25|
|  3|Cathy| 28|
|  4|David| 35|
|  5|  Eva| 22|
+---+-----+---+

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 30|
|  2|  Bob| 25|
|  3|Cathy| 28|
|  4|David| 35|
|  5|  Eva| 22|
|  2|  Bob| 25|
+---+-----+---+

In [3]:
df1.unionByName(df2).show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 30|
|  2|  Bob| 25|
|  3|Cathy| 28|
|  4|David| 35|
|  5|  Eva| 22|
|  2|  Bob| 25|
+---+-----+---+